<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <!-- spring自动读取指定位置的配置为简到spring中 -->
    <context:property-placeholder location="classpath:/properties/jdbc.properties,classpath:/properties/activiti.properties"/>

    <!-- 注册组件扫描器 -->
    <context:component-scan base-package="org.activiti">
        <context:exclude-filter type="annotation" expression="org.springframework.context.annotation.Configuration" />
    </context:component-scan>

    <mvc:annotation-driven />


    <!-- 静态资源 -->
    <mvc:resources location="/wf/" mapping="wf/**" />
    <mvc:resources location="/workflow/" mapping="workflow/**" />

    <!-- 注册拦截器 -->
     <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**/*"/>
            <bean class="org.activiti.controller.AuthInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>


